html { box-sizing: border-box; }
*, ::before, ::after { box-sizing: inherit; }

//barvy

$c-background-primary: #ffffff;
$c-background-secondary: #F0F0F0;
$c-primary: #F03000;
$c-text: #000000;
$c-title-light: #ffffff;
$c-text-light: #ffffff;
$c-date: #888888;
$c-footer: #444444;


//pismo
$font-base: 'Montserrat', sans-serif;
$font-special: 'Open Sans', sans-serif;


//
$spacer: 30px;





body {
    font-family: $font-base;
}

.title-one {
    font-size: 28px;
    color: $c-title-light;
    margin: 0;
    margin-bottom: 15px;
}

.title-two {
    font-size: 24px;
    margin: 0;
    text-align: left;

    @media screen and (min-width: 640px) {
        grid-area: title-two;
    }
}

.title-three {
    font-size: 20px;
    color: $c-title-light;
    margin: 0;
}

.title-four {
    font-size: 18px;
    color: $c-primary;
    margin: 0;
}

.date {
    color: $c-date;
    padding-bottom: 10px;
    margin: 0;
}

.header {

    display: grid;
    max-width: 100%;
    width: 100%;
    place-items: center;
    place-content: center;

    grid-template-columns: 1fr;
	grid-template-rows: 75px 62px;

	grid-template-areas: 
		"header__logo"
        "header__menu";

    &__logo {
        margin-top: $spacer;
        margin-bottom: $spacer;
    }

    &__menu {
        display: flex;
        list-style: none;
        padding: 0px;
        margin: 0;
    }

    &__link {
        padding: 20px;
        text-decoration: none;
        font-size: 18px;
        color: $c-primary;
        font-weight: bold;
        flex: 0 0 calc(100% / 3);
        white-space: nowrap;

        &:hover,
        &:focus {
            background-color: $c-primary;
            color: $c-text-light;
        }
    }

    @media screen and (min-width: 640px) {

        display: flex;
        width: 100%;
        justify-content: space-between;

        &__logo {
            margin-top: $spacer;
            margin-bottom: $spacer;
        } 
       
        &__menu {
            justify-content: right;
        }
    }
}

.trip {

    display: grid;
    max-width: 100%;
    width: 100%;
    margin-top: 40px;
    gap: 20px;

    grid-template-columns: 1fr;
	grid-template-rows: 240px 150px 150px;

	grid-template-areas: 
		"trip__box-big"
        "trip__box-small"
        "trip__box-small";

    &--second {
        grid-template-columns: 1fr;
        grid-template-rows: 32px 240px 150px 150px;

        grid-template-areas: 
            "title-two"
            "trip__box-big"
            "trip__box-small"
            "trip__box-small";
    }

    &__box-big {
        min-width: 440px;
        height: 240px;
        background-size: cover;
        background-position: center;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &--background-one {
            background-image: url('../img/palmy.png');
        }

        &--background-two {
            background-image: url('../img/lodicka.png');
        }
    }

    &__price {
        padding: 10px;
        color: $c-text-light;
        background-color: $c-primary;
        margin: 0;
        flex: 0 0;
        max-width: fit-content;
        order: 1;
    }
    
    &__text {
        color: $c-text-light;
        margin: 0;
    }

    &__content {
        align-self: flex-start;
        order: 2;
    }

    &__box-small {
        min-width: 440px;
        height: 150px;
        background-size: cover;
        background-position: center;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &--background-one {
            background-image: url('../img/jezero2.png');
        }

        &--background-two {
            background-image: url('../img/nakole.png');
        }

        &--background-three {
            background-image: url('../img/podkova.png');
        }

        &--background-four {
            background-image: url('../img/zatoka.png');
        }

    }

    @media screen and (min-width: 640px) {

        display: grid;
        gap: 20px;

        grid-template-columns: 1fr 1fr;
        grid-template-rows: 380px 180px;

        grid-template-areas: 
        "trip__box-big trip__box-big"
        "trip__box-small--background-one trip__box-small--background-two";

        &--second {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 32px 380px 180px;
    
            grid-template-areas: 
                "title-two title-two"
                "trip__box-big trip__box-big"
                "trip__box-small trip__box-small";
        }

        &__box-big {
            grid-area: trip__box-big;
            min-width: 600px;
            height: 380px;
        }

        &__box-small {
            min-width: 350px;
            height: 180px;
        }   
    }

    @media screen and (min-width: 1100px) {

        display: grid;
        gap: 20px;

        grid-template-columns: 2fr 1fr;
        grid-template-rows: 180px 180px;

        grid-template-areas: 
        "trip__box-big trip__box-small--background-one"
        "trip__box-big trip__box-small--background-two";

        &--second {
            grid-template-columns: 1fr 2fr;
            grid-template-rows: 32px 180px 180px;
    
            grid-template-areas: 
                "title-two title-two"
                "trip__box-small trip__box-big"
                "trip__box-small trip__box-big";
        }
    }
}

.services {

    display: grid;
    max-width: 100%;
    width: 100%;
    margin-top: 40px;
    gap: 20px;

    grid-template-columns: 1fr;
	grid-template-rows: repeat(4, 120px);

	grid-template-areas: 
		"services__box"
        "services__box"
        "services__box"
        "services__box";

    &__box {
        min-width: 440px;
        padding: 20px 20px 20px 0;
        background-color: $c-background-secondary;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__img {
        margin: 0 auto;
        align-self: flex-start;
    }

    &__content {
        max-width: 325px;
    }

    &__text {
        font-family: $font-special;
        font-size: 16px;
        margin: 0;
        margin-top: 10px;
    }

    @media screen and (min-width: 640px) {

        display: grid;
        gap: 20px;

        grid-template-columns: 1fr 1fr;
        grid-template-rows: 190px 190px;

        grid-template-areas: 
        "services__box services__box"
        "services__box services__box";

        &__box {
            min-width: 100%;
            display: flex;
            flex-direction: column;
            padding: 20px;
        }

        &__content {
            text-align: center;
        }

        &__text {
            margin-top: 20px;
        }
    }

    @media screen and (min-width: 1100px) {

        display: grid;
        gap: 20px;
        justify-content: space-between;

        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 210px;

        grid-template-areas: 
        "services__box services__box services__box services__box";

    }
}

.news {

    display: grid;
    max-width: 100%;
    width: 100%;
    margin-top: 40px;
    gap: 20px;

    grid-template-columns: 1fr;
	grid-template-rows: repeat(3* 160px);

	grid-template-areas: 
		"news__box"
        "news__box"
        "news__box";

    &__box {
        min-width: 100%;
        padding: 20px;
        background-color: $c-background-secondary;
        align-items: center;
        justify-content: space-between;
    }

    &__text {
        margin: 0;
        padding-top: 10px;
    }

    @media screen and (min-width: 640px) {

        display: grid;
        gap: 20px;

        grid-template-columns: 1fr;
        grid-template-rows: 32px repeat(3, 140px);

        grid-template-areas:
            "title-two"
            "news__box"
            "news__box"
            "news__box";
        
        &__box {
            min-width: 100%;
            padding: 20px;
            background-color: $c-background-secondary;
            align-items: center;
            justify-content: space-between;
        }

        @media screen and (min-width: 1100px) {

            display: grid;
            gap: 20px;
    
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 32px 175px ;
    
            grid-template-areas:
                "title-two title-two title-two"
                "news__box news__box news__box";
        }
    }
}

.footer {
    max-width: 100%;
    display: flex;
    justify-content: center;
    height: 60px;
    color: $c-text-light;
    background-color: $c-footer;
    padding: 20px;
    margin-top: 40px;
    text-align: center;
}